<ion-view title="match">
    <ion-pane padding="false" class="game_board">
    	<div class="game_board_div">
            <a ng-click="closeType()" class="close_type">
                <span class="ion-android-cancel close_type_icon"></span>
            </a>
    		<div class="match_text_place">
    			<div ng-show="match.gameRolling === false" class="before_game">
    				<h1 class="text_match match_title">Posicione o celular em sua testa</h1>
    				<h3 class="text_match match_sub_title">{{match.counterBegin}}</h3>
    			</div>
    			<div ng-show="match.gameRolling === true" class="during_game">
	    			<h1 class="text_match match_title">{{match.currentWord.word}}</h1>
		    		<h3 class="text_match match_sub_title">{{match.counterGame}}</h3>
	    		</div>
    		</div>
		</div>
	</ion-pane>
</ion-view>