/* Empty. Add your own CSS if you like */
html, body {
	padding: 0;
	margin: 0;
	border: 0;
}

.questionType {
	position: relative;
	height: 160px;
	width: 50%;
	float: left;
	padding: 0;
	margin: 0;
	border: 0;
}

.questionTypeInnerDiv {
	height: 100%;
	width: 100%;
}

.questionTypeLink {
	position: absolute;
	height: 100%;
	width: 100%;
}

.locker {
	height: 50px;
}

.timer_counter {
	height: 2px;
	width: 10px;	
}

.back {
	background-color: purple;
	height: 100%;
	width: 100%;
}

.startCountDown {
	width: 100%;
	height:50px;
}

.teste {
	position: absolute;
	width: 100%;
	height: 100%;
}

.back_div {
	position: relative;
	width: 100%;
	height: 30px;
}

.back_btn {
	position: absolute;
	width: 100%;
	height: 100%;
}

.gameBoard {
	padding: 20% 30%;
}