/* Empty. Add your own CSS if you like */
html, body {
	padding: 0;
	margin: 0;
	border: 0;
}

.questionType {
	position: relative;
	height: 160px;
	width: 50%;
	float: left;
	padding: 0;
	margin: 0;
	border: 0;
}

.questionTypeInnerDiv {
	height: 100%;
	width: 100%;
}

.questionTypeLink {
	position: absolute;
	height: 100%;
	width: 100%;
}